/* font family  */
.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* responsive for mobile here */

/* nav section  */  /* nav section  */ /* nav section  */  


@media screen and (max-width: 576px){

  .nav-container{
   margin-left: 5px;
    margin-right: 5px;
  }
  .nav-img{
    height: 40px;
  }
  .nav-text{
    font-size: 14px;
  }
/* nav btn section  */
  .nav-btn-section{
    gap:4px;
  }
  /* nav btn one */

  .nav-btn-one{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 3px;
  }
  .nav-btn-one-img{
    height: 17px;
  }
  .nav-btn-text{
    font-size: 14px;
  }


  /* nav btn two */


  .nav-btn-two{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 3px;
  }
  .nav-btn-two-img{
    height: 17px;
  }

  /* nav btn three  */

  .nav-btn-three{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 3px;
  }
}

/* banner section  */  /* banner section  */ /* banner section  */

@media screen and (max-width: 576px){

  .banner-container{
    width: 100%;
    height: 350px;
  }
}

/* card section  */  /* card section  */ /* card section  */

@media screen and (max-width: 576px){
  .card-main-div{
     display: grid;
    grid-template-columns: repeat(1,1fr);

  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
  }
  .card-history{
    width: 280px;
    height: 100%;
    margin: auto;
  }
}

 /* common section  */ /* common section  */ /* common section  */ 



  .btn-primary:hover{
    cursor: pointer;
    background-color: rgb(131, 184, 151);
    color: black;
  }

  .second-btn-primary:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }

